# HELLO, WORLD!

Type the following command to display `Hello, World!` greeting

`print()` is a built-in Python function to output to console

```
print("Hello, World!")
```
To run run a CELL
- Press `▶ Run` Button
- HOLD `SHIFT` + PRESS ```ENTER```

It should print out:

```
Hello, World!
```

Hello, World!

# 'A string'
# "Also a string"
To quote a string, single quote or double quote is either fine
```
print('Hello again, World!')
```

Hello again, World!

# To Run a Cell
- Press ```▶ Run``` button
- ```SHIFT``` + ```ENTER```

# Variables
A variable can have a short name (like ```x``` and ```y```) or a more descriptive name (```age```, ```carname```, ```total_volume```).
```
x = 10
y = 20
customer_name = "Johnny"
```
- after declaring a variable, type variable in an empty cell will output the value
- or use ```print()```

# Varibles Naming Rules
- A variable name must start with a **letter** or the **underscore character**
- A variable name CANNOT start with a number
- A variable name can only contain alpha-numeric characters and underscores (```A-z```, ```0-9```, and``` _``` )
- Variable names are case-sensitive (```age```, ```Age``` and ```AGE``` are three different variables)

### Tasks:
- Declare a variable named ```home_address``` and assign "Hong Kong" as the initial value

'Hong  Kong'

# Legal Variable Names
```
myname = "John"
my_name = "John"
_my_name = "John"
myName = "John"
MYNAME = "John"
myName2 = "John"
```
Try typing the above to the cell below

# Illegal Variable Names
```
2myname = "John"
my-name = "John"
my name = "John"
```
Try typing the above to the cell below

# Cell Types
- Code
- Markdown

# Comments
Start your lines with #
Example:

```# This is a comment```

n = 100 ```# This is also a comment```

If you type above to a cell, it will stay there, but no code will be execution
- Comments can be used to explain Python code.
- Comments can be used to make the code more readable.
- Comments can be used to prevent execution when testing code.
- Python does not really have a syntax for multi line comments.

# Use ```print()``` to output value of variable
Example:
```
print(message)
print("Message is: " + message)
print("123"+ "456");
print("123", "456");
```

This
is a multiple line
string.
123 456

# ```str()``` function
Convert a number to string
```
n = 100
print("The number is " + str(n))
print("The number is", n)
```

The number is 100
The number is 100

My name is James. James Bond

# Python Data Types
- Text Type:	```str```
- Numeric Types:	```int```, ```float```, ```complex```
- Sequence Types:	```list```, ```tuple```, ```range```
- Mapping Type:	```dict```
- Set Types:	```set```, ```frozenset```
- Boolean Type:	```bool```
- Binary Types:	```bytes```, ```bytearray```, ```memoryview```

20.0

# ```type()``` function
You can get the data type of any object by using the type() function:
```
x = 100
y = 20.5
my_name = "James Bond"
type(x)
type(my_name)
print(type(my_name))
```

# Setting the Data Type
In Python, the data type is set when you assign a value to a variable:
```
x = "Hello World"	# This is a str	
x = 20	# This is a int	
x = 20.5	# This is a float	
x = 1j	# complex	
x = ["apple", "banana", "cherry"]	# This is a list	
x = ("apple", "banana", "cherry")	# This is a tuple	
x = range(6)	# This is a range	
x = {"name" : "John", "age" : 36}	# This is a dict	
x = {"apple", "banana", "cherry"}	# This is a set
x = True	# This is a bool	
```

# Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

Constructor is a OOP concept

Examples:
```
x = str("Hello World")	# a str	
x = int(20)	# a int	
x = float(20.5)	# a float	
x = complex(1j)	# a complex	
x = list(("apple", "banana", "cherry"))	# a list	
x = tuple(("apple", "banana", "cherry"))	# a tuple	
x = range(6)	# a range	
x = dict(name="John", age=36)	# a dict	
x = set(("apple", "banana", "cherry"))	# a set	
x = frozenset(("apple", "banana", "cherry"))	# a frozenset	
x = bool(5)	# a bool	
x = bytes(5)	# a bytes	
x = bytearray(5)	# a bytearray	
x = memoryview(bytes(5))	# a memoryview
```

('apple', 'banana', 'cherry')

# Python Numbers
- ```int```
- ```float```
- ```complex```

Examples:
```
x = 1    # int
y = 2.8  # float
z = 1j   # complex

```

2

# int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
```
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))
```

<class 'int'>

# float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

```
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))
```

<class 'float'>
<class 'float'>
<class 'float'>

# Type Conversion
Convert from one type to another:
```
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# convert from int to float:
a = float(x)

# convert from float to int:
b = int(y)

# convert from int to complex:
c = complex(x)
```

1.0

# Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

Import the random module, and display a random number between 1 and 9:
```
import random
print(random.randrange(1, 10))
print(random.random())
```

User `COMMAND` (Mac) / `CTRL` (Windows) + `ENTER` to run and stay at a cell

2
0.47539773210657676

# use tab key for code completion
after typing ```random.``` prese ```TAB``` key for code completion

0.10568609074419233

# Python String
String literals in python are surrounded by either single quotation marks, or double quotation marks.

```'hello'``` is the same as ```"hello"```.

You can display a string literal with the print() function:

```
print("Hello")
print('Hello')
```

Hello

# Strings are Arrays
- Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
- Square brackets can be used to access elements of the string.
Example:
```
s = "ABCDEFG"
print(s[2])
for c in s:
    print(c)
```

C
A
B
C
D
E
F
G

# Slicing
- You can return a range of characters by using the slice syntax.
- Specify the start index and the end index, separated by a colon, to return a part of the string.
Example:
```
s = "ABCDEFG"
print(s[0:1]) # A
print(s[0:-1]) # ABCDEF
print(s[0:]) # ABCDEFT
print(s[-2:-1]) # F
print(s[-1:]) # G
print(s[:-2]) # ABCDE
```

A
ABCDEF
ABCDEFG
F
G
ABCDE

In [57]:
print(s[:-2])

ABCDE

# ```len()```
The len() function returns the length of a string:
```
s = "ABCDEFG"
length = len(s)
print(length)
```

7

# String Methods
- ```strip()``` method removes any whitespace from the beginning or the end
- ```lower()``` method returns the string in lower case
- ```upper()``` method returns the string in upper case:
- ```replace()``` method replaces a string with another string
- ```split()``` method splits the string into substrings if it finds instances of the separator

**Note**: above functions returns a new string, instead, process in place
```
s = " ABCDEFG,HIJKLMN,OPQRST,UVWXYZ"
s.strip()
print(s.replace("A", "X"))
print(s)
s.split(",")
```

 XBCDEFG,HIJKLMN,OPQRST,UVWXYZ
 ABCDEFG,HIJKLMN,OPQRST,UVWXYZ

[' ABCDEFG', 'HIJKLMN', 'OPQRST', 'UVWXYZ']

# More Python String Methods

- ```capitalize()```	Converts the first character to upper case
- ```casefold()```	Converts string into lower case
- ```center()```	Returns a centered string
- ```count()```	Returns the number of times a specified value occurs in a string
- ```encode()```	Returns an encoded version of the string
- ```endswith()```	Returns true if the string ends with the specified value
- ```expandtabs()```	Sets the tab size of the string
- ```find()```	Searches the string for a specified value and returns the position of where it was found
- ```format()```	Formats specified values in a string
- ```format_map()```	Formats specified values in a string
- ```index()```	Searches the string for a specified value and returns the position of where it was found
- ```isalnum()```	Returns True if all characters in the string are alphanumeric
- ```isalpha()```	Returns True if all characters in the string are in the alphabet
- ```isdecimal()```	Returns True if all characters in the string are decimals
- ```isdigit()```	Returns True if all characters in the string are digits
- ```isidentifier()```	Returns True if the string is an identifier
- ```islower()```	Returns True if all characters in the string are lower case
- ```isnumeric()```	Returns True if all characters in the string are numeric
- ```isprintable()```	Returns True if all characters in the string are printable
- ```isspace()```	Returns True if all characters in the string are whitespaces
- ```istitle()```	Returns True if the string follows the rules of a title
- ```isupper()```	Returns True if all characters in the string are upper case
- ```join()```	Joins the elements of an iterable to the end of the string
- ```ljust()```	Returns a left justified version of the string
- ```lower()```	Converts a string into lower case
- ```lstrip()```	Returns a left trim version of the string
- ```maketrans()```	Returns a translation table to be used in translations
- ```partition()```	Returns a tuple where the string is parted into three parts
- ```replace()```	Returns a string where a specified value is replaced with a specified value
- ```rfind()```	Searches the string for a specified value and returns the last position of where it was found
- ```rindex()```	Searches the string for a specified value and returns the last position of where it was found
- ```rjust()```	Returns a right justified version of the string
- ```rpartition()```	Returns a tuple where the string is parted into three parts
- ```rsplit()```	Splits the string at the specified separator, and returns a list
- ```rstrip()```	Returns a right trim version of the string
- ```split()```	Splits the string at the specified separator, and returns a list
- ```splitlines()```	Splits the string at line breaks and returns a list
- ```startswith()```	Returns true if the string starts with the specified value
- ```strip()```	Returns a trimmed version of the string
- ```swapcase()```	Swaps cases, lower case becomes upper case and vice versa
- ```title()```	Converts the first character of each word to upper case
- ```translate()```	Returns a translated string
- ```upper()```	Converts a string into upper case
- ```zfill()```	Fills the string with a specified number of 0 values at the beginning- ```

[https://docs.python.org/3/library/stdtypes.html#string-methods]

# String Concatenation
```
first_name = "James"
last_name = "Bond"
print("My name is " + last_name +", " + first_name + " " + last_name)
print("123", 456, "789")
```

My name is Bond, James Bond
My name is Bond , James Bond

# String Interpolation
```
first_name = "James"
last_name = "Bond"
print(f"My name is {first_name}. {first_name} {last_name}")
```

# Excape Character
- To insert characters that are illegal in a string, use an escape character.
- An escape character is a backslash \ followed by the character you want to insert.
- An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

**WRONG**:
```
txt = "We are the so-called "Vikings" from the north."
```

**CORRECT**:
```
txt = "We are the so-called \"Vikings\" from the north."
```

# Some Frequent Used Escape Codes
- ```\'```	Single Quote	
- ```\\```	Backslash	
- ```\n```	New Line	
- ```\r```	Carriage Return	
- ```\t```	Tab	
- ```\b```	Backspace	
- ```\f```	Form Feed	
- ```\ooo```	Octal value	
- ```\xhh```	Hex value

**Example**:
```
print("Name:\t\tPeter")
print("Address:\tHong Kong")

```

Name:		Peter
Address:	Hong Kong

# Boolean
Booleans represent one of two values: ```True``` or ```False```.

**Example:**
```
is_adult = True
type(is_adult)

```

bool

bool

# Condition Control -  `if :`
Python supports the usual logical conditions from mathematics:
- Equals: ```a == b```
- Not Equals: ```a != b```
- Less than: ```a < b```
- Less than or equal to: ```a <= b```
- Greater than: ```a > b```
- Greater than or equal to: ```a >= b```

**Example:**
```
a = 100
b = 200
c = 100
if a < b:
    print(f"{a} is smaller than {b}")
```

**Note:**
Indentation is critical

100 is smaller than 200

# Condition Control - ```if ... else```

**Example**:
```
a = 100
b = 200
c = 100
if a < b:
    print(f"{a} is smaller than {b}")
else:
    print(f"{a} is NOT smaller than {b}")
```

90 is smaller than 100

# Condition Control - ```if ... elif ... else```

**Example**:
```
a = 100
b = 200
c = 100
if a < b:
    print(f"{a} is smaller than {b}")
elif a==b:
    print(f"{a} is equals than {b}")
else:
    print(f"{a} is larger than {b}")
```

100 is smaller than 200

# Multiple Conditions
- ```and``` keyword is a logical operator, and is used to combine conditional statements
- ```or``` keyword is a logical operator, and is used to combine conditional statements

**```and```Example**:
```
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")
```

**```or```Example**:
```
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")
```

Both conditions are True

# Nested If
Multi level conditions
```
isFemale=True
age = 18
if isFemale:
    if age<18:
        print("20% OFF")
    else:
        print("10% OFF")
else:
    print("Sorry, 0% OFF")
```

10% OFF

# Operators
Operators are used to perform operations on variables and values.
- Arithmetic operators: ```+, -, *, /, %, **, //```
- Assignment operators: ```=, +=```
- Comparison operators: ```==, !=, >=```
- Logical operators: ```and, or, not```
- Identity operators: ```is, is not```
- Membership operators: ```in, not in```
- Bitwise operators: ```&,|, ^, ~, <<, >>```

# Arithmetic Operators

- ```+```	Addition	```x + y```
- ```-```	Subtraction	```x - y```
- ```*```	Multiplication	```x * y```
- ```/```	Division	```x / y```
- ```%```	Modulus	```x % y```
- ```**```	Exponentiation	```x ** y```
- ```//```	Floor division	```x // y```

**Examples:**
```
x = 100
y = 4
x + y
x - y
x * y
x / y
x % y
x ** y
x // y
```

25

# Assignment Operators

- ```+```	Addition	```x + y```
- ```-```	Subtraction	```x - y```
- ```*```	Multiplication	```x * y```
- ```/```	Division	```x / y```
- ```%```	Modulus	```x % y```
- ```**```	Exponentiation	```x ** y```
- ```//```	Floor division	```x // y```

**Examples**:
- ```x = 5``` 	same to ```x = 5```
- ```x += 3```	same to ```x = x + 3```
- ```x -= 3```	same to ```x = x - 3```
- ```x *= 3```	same to ```x = x * 3```
- ```x /= 3```	same to ```x = x / 3```
- ```x %= 3```	same to ```x = x % 3```
- ```x //= 3```	same to ```x = x // 3```
- ```x **= 3```	same to ```x = x ** 3```
- ```x &= 3```	same to ```x = x & 3```
- ```x |= 3```	same to ```x = x | 3```
- ```x ^= 3```	same to ```x = x ^ 3```
- ```x >>= 3```	same to ```x = x >> 3```
- ```x <<= 3```	same to ```x = x << 3```

110

# Comparison Operators
- Equal	```x == y```
- Not equal	```x != y```
- Greater than	```x > y```
- Less than	```x < y```
- Greater than or equal to	```x >= y```
- Less than or equal to	```x <= y```

# Logical Operators

- ```and``` 	Returns True if both statements are true	```x < 5 and  x < 10```	
- ```or```	Returns True if one of the statements is true	```x < 5 or x < 4```	
- ```not```	Reverse the result, returns False if the result is true	```not(x < 5 and x < 10)```

**Exercise**:
```
x = 100
y = 90
z = 80
```
Write codes that: when x is larger and y and z, print out "x is the biggest"

x is the biggest

# List
- Lists are used to store multiple items in a single variable.
- Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are **Tuple**, **Set**, and **Dictionary**, all with different qualities and usage.

Lists are created using square brackets:

**Example**:
```
students = ["April", "Ben", "Cathy", "Danny", "Eve"]
print(students[0])
print(students[-1])
students[1] = "Benny"
print(students[1:3])
print(students[1:])
print(students[:-2])
print(students[0])
print(len(students))
```

April
Eve
April
5
['Benny', 'Cathy']

# Check If Item Exists
```
students = ["April", "Ben", "Cathy", "Danny", "Eve"]
if "April" in students:
  print("Yes, 'April' is in the list")
```

Yes, 'April' is in the list

# Change List Items
```
students = ["April", "Ben", "Cathy", "Danny", "Eve"]
students[1:3] = ["Benjamin", "Catherine"]
print(students)
```

['April', 'Benjamin', 'Catherine', 'Cathy', 'Danny', 'Eve']

# Insert Item in the middle
```
students = ["April", "Ben", "Cathy", "Danny", "Eve"]
students.insert(1, "Barry")
print(students)
```

['April', 'Barry', 'Benjamin', 'Catherine', 'Cathy', 'Danny', 'Eve']

# Append Item at the end
```
students = ["April", "Ben", "Cathy", "Danny", "Eve"]
students.append("Frankie")
print(students)
```

['April', 'Barry', 'Benjamin', 'Catherine', 'Cathy', 'Danny', 'Eve', 'Frankie']

# Remove an Item
```
students = ["April", "Ben", "Cathy", "Danny", "Eve"]
students.remove("Cathy")
print(students)
```

['April', 'Barry', 'Benjamin', 'Catherine', 'Danny', 'Eve', 'Frankie']

# Looping a List
**Looping without index number**:
```
students = ["April", "Ben", "Cathy", "Danny", "Eve"]
for student in students:
    print(student)
```

**Looping with index number**:
```
students = ["April", "Ben", "Cathy", "Danny", "Eve"]
for i in range(len(students)):
    print(str(i) + ": " + students[i])
```

0: April
1: Barry
2: Benjamin
3: Catherine
4: Danny
5: Eve
6: Frankie

# Sort List
Sort the list alphabetically:
```
students = ["April", "Ben", "Cathy", "Danny", "Eve"]
students.sort()
print(students)
students.sort(reverse=True)
print(students)
```

['April', 'Ben', 'Cathy', 'Danny', 'Eve']
['Eve', 'Danny', 'Cathy', 'Ben', 'April']

# Join List
```
list1 = ['a', 'b', 'c']
list2 = ['d', 'e', 'f', 'g']
list3 = list1 + list2
print(list3)
```

['a', 'b', 'c', 'd', 'e', 'f', 'g']

# More List Method
- ```append()```	Adds an element at the end of the list
- ```clear()```	Removes all the elements from the list
- ```copy()```	Returns a copy of the list
- ```count()```	Returns the number of elements with the specified value
- ```extend()```	Add the elements of a list (or any iterable), to the end of the current list
- ```index()```	Returns the index of the first element with the specified value
- ```insert()```	Adds an element at the specified position
- ```pop()```	Removes the element at the specified position
- ```remove()```	Removes the item with the specified value
- ```reverse()```	Reverses the order of the list
- ```sort()```	Sorts the list

# for loop
- A ```for``` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
- With the ```for``` loop we can execute a set of statements, once for each item in a list, tuple, set etc.

**Example**:
```
students = ["April", "Ben", "Cathy", "Danny", "Eve"]
for s in students:
    print(s)
```


**Example 2**:
```
s = "ABCDEFG"
for c in s:
    print(c)
```

A
B
C
D
E
F
G

# Functions
- A function is a block of code which only runs when it is called.
- You can pass data, known as parameters, into a function.
- A function can return data as a result.

Use ```def``` keyword to define fucntion

**Example**:
```
def greet(to):
    print("Hello, " + to)
```

Hello,Peter
Hello,John

# returns from function
- To let a function return a value, use the return statement:

```
def square_value(number):
    return number*number

print(square_value(3))
print(square_value(5))
```

9
25

# Exercise
- Define a function name my_func to do the following mathematic calculation
- It accepts three parameters: `a`, `b`, `c`
\\[ 2a^3 + 5b^2 - 8c \\]

```
def my_func(a, b, c):
    result = (2*(a**3)) + (5*(b**2)) - (8*c)
    return result
    
print(my_func(1,1,1))
print(my_func(2,3,4))
```

**Expected Result**:
- my_func(1,1,1) -> -1
- my_func(2,3,4) -> 29

-1
29

# Dictionary
- A dictionary is a collection which is unordered, changeable and indexed. 
- In Python dictionaries are written with curly brackets, and they have keys and values.

**Create and print a dictionary**:
```
client = {
    "id": 888,
    "company": "ABC Co.",
    "email": "hello@abc.com"
}
print(client)
print(client["email"])
print(client.get("company"))
client["company"] = "XYZ Co."
print(client)
```

{'id': 888, 'company': 'ABC Co.', 'email': 'hello@abc.com'}
hello@abc.com
ABC Co.
{'id': 888, 'company': 'XYZ Co.', 'email': 'hello@abc.com'}

# Loop Through a Dictionary
Loop through a dictionary by using a ```for``` loop
```
client = {
    "id": 888,
    "company": "ABC Co.",
    "email": "hello@abc.com"
}
```

**Getting the key**:
```
for x in client:
    print(x)
```

**Getting the values**:
```
for x in client.values():
    print(x)
```

**Getting the keys and values**:
```
for key, value in client.items():
    print(key, value)
```

id 888
company XYZ Co.
email hello@abc.com

# Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:
```
client = {
    "id": 888,
    "company": "ABC Co.",
    "email": "hello@abc.com"
}
if "email" in client:
    print("email is in the Dictionaries")
```

email is in the Dictionaries

# Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it
```
client = {
    "id": 888,
    "company": "ABC Co.",
    "email": "hello@abc.com"
}
client["address"] = "Hong Kong"
print(client)
```

{'id': 888, 'company': 'XYZ Co.', 'email': 'hello@abc.com', 'address': 'Hong Kong'}

# Reading JSON Data From the Web
- You need to ues `urllib` and `json`
- Let's try to read weather forecast from: https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=fnd&lang=tc
- More information about weather data: https://www.hko.gov.hk/tc/abouthko/opendata_intro.htm

**Example**:
```
import urllib.request, json 
endpoint = "https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=fnd&lang=tc"
with urllib.request.urlopen(endpoint) as url:
    response = json.loads(url.read().decode())
    print(response)
    print(response["generalSituation"])
    print(data["weatherForecast"])
    print(data["weatherForecast"][0])
```

東北季候風會在今日為廣東沿岸帶來清涼的天氣。預料季候風會在隨後數天緩和，該區多雲及有幾陣雨。受冬季季候風影響，下週初華南再度轉涼，氣溫顯著下降。